<div class="main">
  <section class="first">
    <p>Органічна косметика з'явилася в Європі та США близько 10-15 років тому. В Україні ж даний різновид косметики представлено не більше 2-х років. Однак сьогодні інтерес до органічної косметики став трендовим питанням. Усе більше жінок дізнаються про неї і вирішуються випробувати на собі нову філософію догляду за шкірою.</p>
  </section>
  <section class="second">
    <h3>Органічна косметика & Натуральна косметика</h3>
    <div class="nat">
      <h5>Натуральна косметика</h5>
      <p> - це засіб, до складу якої входить хоча б один натуральний компонент.</p>
    </div>
    <div class="org">
      <h5>Органічна косметика</h5>
      <ul>
        <li>
          <h6>має високий ступінь натуральності</h6>
          <ul>
            <li>до складу має входити більше 95% рослинних компонентів, мінімум 10% органічних (синтетичних компонентів може бути максимум 5%, причому лише тих, які безпечні для людини)</li>
          </ul>
        </li>
        <li>
          <h6>має високий ступінь безпеки для людини та навколишнього середовища:</h6>
          <ul>
            <li>без застосування хімічних добрив, ГМО, наноматеріалів</li>
            <li>не містять продуктів нафтоперероблення (мінеральних олій, вазеліну, парафіну, церезину, силікону)</li>
            <li>не містять штучних барвників</li>
            <li>не містять синтетичних ароматизаторів</li>
            <li>не містять шкідливих консервантів та піноутворювачів SLS</li>
            <li>не проводяться випробування на тваринах</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
  <section class="third">
    <h3>Переваги органічної косметики:</h3>
    <ul>
      <li>дуже м'яко стимулює процеси відновлення клітин та забезпечує омолодження</li>
      <li>зумовлює гармонізацію обмінних процесів</li>
      <li>ймовірність побічних ефектів, алергій, дерматозів і ураження внутрішніх органів низька</li>
      <li>не призводять до інтоксикації організму, сприяє виведенню токсинів, дренує тканини</li>
      <li>не викликає звикання</li>
      <li>досягнутий результат стійкий, тобто навіть якщо ви перестанете користуватися косметикою - ефект від її застосування збережеться на довший час</li>
      <li>рослинні екстракти та ефірні олійки - основні інгредієнти органічної косметики - вирізняються тривалою в часі дією, тобто через кілька годин після процедури ефект посилюється</li>
    </ul>
  </section>
  <section class="fourth">
    <h3>Ознаки органічної косметики:</h3>
    <ul>
      <li>колір косметики білий, бежевий, безбарвний, тому що немає барвників</li>
      <li>запах зазвичай "аптечний" або відчувається лікарський аромат трав. Виняток - фруктові та квіткові запахи, якщо в складі є ефірні олійки</li>
      <li>через відсутність хімічних загусників та розчинників рідка емульсія може поділятися на шари. Тому перед вживанням флакончик слід добре струснути. При цьому його властивості не погіршуються</li>
      <li>мало пінки, тому що немає піноутворюючих хімічних речовин. Однак це не погіршує його очищувальні властивості</li>
      <li>при потраплянні до очей натуральні екстракти можуть викликати легке печіння, яке проходить відразу після промивання водою.</li>
      <li>не містить шкідливих і небезпечних хімічних компонентів: синтетичних консервантів, барвників, синтетичних ароматів, продуктів нафтохімії тощо</li>
    </ul>
  </section>
</div>
