$violet: #5d1263
$rose: #ffbfeb
$grey: #e1e1e1


*
  padding: 0px
  box-sizing: border-box
  outline: none
  transition: all .4s
.main
  padding: 130px 100px 70px 100px
  background: #efefef
  background-image: url("../../../../assets/images/backing.png")
  background-repeat: no-repeat
  background-size: cover
  background-position: bottom
  text-align: justify
  overflow: hidden
  h4
    text-transform: uppercase
    font-size: 20px
    font-family: FuturaBookC
    color: $violet
    text-align: center
  .edit
    width: 100%
    text-align: center
    margin-bottom: 10px
    a
      font-family: FuturaLightC
      color: $violet
      display: block
      padding: 7px
      width: 15%
      margin-left: 88%
      &:hover
        cursor: pointer
        background-color: rgba(216, 157, 190, 0.09)
        border-radius: 9px


  form
    .sections
      display: flex
      justify-content: space-between
      .first
        width: 47%
        .group
          position: relative
          margin-top: 28px
          input
            font-size: 18px
            padding: 10px 10px 10px 5px
            display: block
            width: 100%
            border: none
            border-radius: 3px
          label
            display: block
            color: #999
            pointer-events: none
            font-family: FuturaBookC
            font-size: 18px
            font-weight: normal
            position: absolute
            left: 5px
            top: 10px
          input:focus ~ label, input:valid ~ label
            top: -20px
            font-size: 14px
            color: $violet

          .bar
            position: relative
            display: block
            width: 100%
          .bar:before, .bar:after
            content: ''
            height: 2px
            width: 0
            bottom: 1px
            position: absolute
            background: $violet
          .bar:after
          input:focus ~ .bar:before, input:focus ~ .bar:after
            width: 100%
            transition: 0.2s all

        #labelForDropdown
          margin: 10px 0px 0px 5px
          font-family: FuturaBookC
          display: block
          font-size: 14px
          color: $violet
          position: absolute

        #dropdown
          height: 41.6px
          background: white
          &:hover
            cursor: pointer
          label
            position: relative
            pointer-events: auto
            &:focus
              cursor: pointer
          ul
            display: none
            position: absolute
            cursor: pointer
            background: white
            margin-top: 20px
            width: 620px
            text-align: left
            list-style: none
            padding-left: 20px
            z-index: 10
            li
              color: #5d1263
              padding: 6px
              border-top: 1px solid rgba(128, 128, 128, 0.11)
          select
            padding-top: 25px
            width: 100%
            border: none
            border-radius: 3px

      .second
        width: 47%
        height: 415px
        .order
          h4
            padding-bottom: 28px
          hr
            color: #999
            height: 1px
            clear: both
            background-image: url("../../../../assets/images/hr1.png")
            background-repeat: no-repeat
            background-size: 100%
            background-position: center top
            border-style: none
          .table
            header
              margin: 0 20px
              #title
                width: 88%
              p
                font-family: FuturaLightC
                display: inline-block
                width: 10%
            .body
              overflow: auto
              height: 300px
              .product
                width: 100%
                img
                  height: 100px
                  width: 100px
                  vertical-align: middle
                  margin-left: 20px
                  display: inline-block
                .name
                  width: 67%
                  display: inline-block
                  vertical-align: middle
                  p
                    font-family: FuturaLightC
                    font-size: 16px
                    display: inline-block
                h4
                  width: 10%
                  text-align: center
                  display: inline-block
                  font-size: 16px
                  text-transform: none
          .footer
            .finalprice
              width: 100%
              text-align: right
              h2
                display: inline-block
                font-family: FuturaBookC
                font-size: 20px
    .button
      text-align: center

      input[type="submit"]
        width: 22%
        height: 58px
        background-color: #ffbfeb
        border-width: 1px
        text-transform: uppercase
        margin: 20px auto
        font-family: FuturaDemiC
        border-radius: 20px
        &:hover
          background-color: #5d1263
          cursor: pointer
          color: white







