<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="menu">
  <a class="logo" href="/main/"><img src="assets/images/logo.jpg" alt="logo"></a>
  <nav>
    <a [routerLink]="['/catalog']">каталог</a>
    <a [routerLink]="['/info/']">чому натуральна косметика?</a>
    <a [routerLink]="['/ingradient/']">інградієнти</a>
    <a href="#callback">зв'язатися</a>
  </nav>
  <a (click)="openOrder()">
    <button class="backet">
      <i class="material-icons">&#xE8CC;</i>
      <span id="count"> {{orderService.order.products.length}}</span>
    </button>
    <label>Товарів у вашій корзині: {{orderService.order.products.length}}</label>
  </a>
  <app-order (close)="openOrder()" [ngStyle]="{'display': visibility? 'block' : 'none'}"></app-order>
</div>

<!--
<div class="mobile-menu-bar" (window:resize)="onResize($event)" [ngStyle]="{'display': !close? 'flex' : 'none'}">
  <a class="mobile-bar-logo" href="/main/"><img src="assets/images/logo.jpg" alt="logo"></a>

  <div class="btn">
    <span class="mobile-btn" (click)="open()" [ngClass] = "{'active': openMobileMenu}">
      <i class="btn-line btn-top"> </i>
      <i class="btn-line btn-mid btn-mid-l"> </i>
      <i class="btn-line btn-mid btn-mid-r"> </i>
      <i class="btn-line btn-bot"> </i>
    </span>
  </div>

</div>


<div class="mobile-menu" (click)="open()" [ngStyle]="{'display': openMobileMenu? 'block' : 'none'}">
  <nav>
    <a [routerLink]="['/catalog']">каталог</a>
    <a [routerLink]="['/info/']">чому натуральна косметика?</a>
    <a [routerLink]="['/ingradient/']">інградієнти</a>
    <a href="#callbackMobile">зв'язатися</a>
    <a (click)="openOrder()">корзина</a>
  </nav>
  <app-order (close)="openOrder()" [ngStyle]="{'display': visibility? 'block' : 'none'}"></app-order>

</div>-->


