<div class="main">
  <section class="first" data-start-menu>
    <div class="text">
      <p>Бренд «ViCare» є новою українською торговою маркою натуральної косметики.</p>
      <p>Косметика не містить небезпечних для шкіри, волосся та здоров'я вцілому,
        хімічних речовин (активних ПАР, барвників, консервантів, ароматизаторів, зокрема).
        При цьому наявна рекордна кількість активних природних компонентів:
        натуральних олій, настоянок та екстрактів рослин, що володіють високим вмістом вітамінів, антиоксидантів і поживних речовин.</p>
      <p>«ViCare» - косметика, яка дарує Вам красу без шкоди для здоров'я.</p>
    </div>
  </section>
  <div class="block">
    <img class="logoSelecto" src="../../../assets/images/logoSelecto.png" alt="">
  </div>
  <section class="second">
  </section>
  <section id="block" class="third">
    <div class="icons">
      <div class="icon">
        <p>&#10051;</p>
        <h4>БЕЗ жорстких ПАВ</h4>
      </div>
      <div class="icon">
        <p>&#10051;</p>
        <h4>Без силіконів</h4>
      </div>
      <div class="icon">
        <p>&#10051;</p>
        <h4>БЕЗ барвників</h4>
      </div>
      <div class="icon">
        <p>&#10051;</p>
        <h4>БЕЗ ароматизаторів</h4>
      </div>
      <div class="icon">
        <p>&#10051;</p>
        <h4>НЕ тестувався на тваринах</h4>
      </div>
      <div class="icon">
        <p>&#10051;</p>
        <h4 data-start-menu>Зроблено в Україні</h4>
      </div>
    </div>
  </section>

</div>

